<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport %>
</p>

<p>
  <strong>Age:</strong>
  <%= @team.age %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>


<%= link_to 'Edit', edit_user_team_path(@team) %> |
<%= link_to 'Back', user_teams_path %>
