<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag sessions_path, class: "form-horizontal" do %>
      <fieldset>
        <legend>Log In</legend>
        <div class="form-group">
          <%= label_tag :username, nil, class:"col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= text_field_tag :username, "" ,class: "form-control", placeholder: "Username" %>
          </div>
        </div>
        
        <div class="form-group">
          <%= label_tag :password, nil, class: "col-lg-2 control-label" %>    
          <div class="col-lg-10">      
            <%= password_field_tag :password, "" ,class: "form-control", placeholder: "password" %>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">    
            <%= submit_tag 'Log in', class:"btn btn-primary" %>
          </div>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
