<%= form_for(drill) do |f| %>
  <% if drill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drill.errors.count, "error") %> prohibited this drill from being saved:</h2>

      <ul>
      <% drill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :sport %>
    <%= f.text_field :sport %>
  </div>

    <%= f.hidden_field :user_id, value: @user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
