<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= @drill.name.titleize %></h4>
    </div>

    <div class="modal-body" >
      <div class="container col-md-12" >
        <div class="row">
          <div class="col-md-6">
            <img src="<%=image_path "volleyball_court"%>" id="vball_ct_<%=@drill.id%>"/>
          </div>
          <div class="col-md-6">
            <p class="word-wrap">
              <br>
              <strong>NOTES</strong><br>
              <p><%= @drill.notes.html_safe %></p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>

    <div class="modal-footer">
      <%= link_to 'Edit', edit_drill_path(@drill), class: "btn btn-sm btn-warning", style: "color:white;", remote: true %>
      <%= link_to 'Print', drill_path(@drill, :pdf), class: "btn btn-sm btn-info", target: '_blank'%>
      <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script>
  var taggd, x, y;
  var options = {
    align: {
    x: 'center',
    y: 'center'
    },
    offset: {
    left: 0,
    top: 30
    },
    handlers: {
    click: 'toggle'
    }
  };
  $(document).ready(function () {

  //  Load image using Image object. This is necessary for chrome browser.
   photo = document.getElementById('vball_ct_<%= @drill.id %>');
   img = new Image();
  img.addEventListener('load', function () {
  taggd = $(photo).taggd(options, []);
  <% @drill.drill_image_coordinates.each do |c| %>
    taggd.addData({x: "<%=c.x%>" , y: "<%=c.y%>", text: "<%=c.marker%>" });
  <% end %>
  taggd.show();
  });
  img.src = "http://localhost:3000/assets/volleyball_court-e267a89d1c30fccb37a43e041e511135dfb762b17810adc0572e1f94c0fd3a14.png" ;
  photo.src = img.src;
  //  End

  });

</script>
