<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drill.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @drill.notes %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @drill.sport %>
</p>

<p>
  <strong>User:</strong>
  <%= @drill.user.username %>
</p>

<%= link_to 'Edit', edit_drill_path(@drill) %> |
<%= link_to 'Back', drills_path %>
