<p id="notice"><%= notice %></p>
<div class="container">
  <h2><%=@practice.name.titleize%></h2>
  <h4>Practice Date: <%=@practice.date.strftime('%D')%></h4>
  <h4>Practice Length: <%=minutes_to_hours(@practice.length)%></h4>
  <h3>Drills</h3>

  <div class="row">
    <div class="col-md-10 sortable" style="list-style-type: none;">
      <% @slots.each do |slot| %>
      <% drill = Drill.find(slot.drill_id) %>
        <div class="panel panel-info " data-id="<%= slot.id %>" >
          <div class="panel-heading ">
            <h3 class="panel-title"><span class="pull-left"><%= drill.name %></span><span class="pull-right"><%= slot.length %> minutes    <span style="margin-left: 10px;" class="clickable"><i class="glyphicon glyphicon-chevron-down"></i></span></span></h3>
            <div style="clear:both;"></div>
          </div>
          <div class="panel-body panel-collapsed" >
            <div class="row">
                <div class="col-md-6">
                  <p><%= drill.notes %></p>
                  <div class="pull-right">
                    <!-- <a href="/drills/<%#drill.id%>" data-toggle="modal" data-target="#drill_modal" class="btn btn-xs btn-primary"  data-remote="true">VIEW</a> -->
                    <%= link_to 'Adjust Length', edit_practice_slot_path(@practice, slot), 'data-toggle' => "modal", 'data-target' => "#drill_modal", class: "btn btn-xs btn-warning", "data-remote" => true %>
                    <%= link_to 'Delete', practice_slot_path(@practice, slot), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger", "data-remote" => true  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <%= image_tag("volleyball_court") %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

    <%= link_to 'New Slot', new_practice_slot_path(@practice), class: "btn btn-md btn-info" %>
</div>

<div class="modal" id="drill_modal">
  
</div>
